h1{
    color: green;
    border-bottom: 5px solid blue;
}


body{
    background-color: lightgrey;
}

div {
    display: flex;
}

.informacion {
    border-bottom: 5px solid black;
    background: purple;
}

.experiencia {
    border-bottom: 5px solid black;
    background: white;
}

.educacion {
    border-bottom: 5px solid black;
    background: yellow;
}

.idiomas {
    border-bottom: 5px solid black;
    background: purple;
}

.software {
    border-bottom: 5px solid black;
    background: white;
}

.actividades {
    border-bottom: 5px solid black;
    background: yellow;
}
